a {
    color: rgb(125, 125, 125);
}

a:hover {
    color: rgb(255, 255, 255);
}

b {
    color: rgb(255, 255, 255);
}

body {
    background-color: rgb(10, 10, 10);
    color: rgb(235, 235, 235);
    font-family: Times New Roman, serif;
}

h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    margin-top: 70px;
}

h2 {
    text-decoration: underline;
    text-align: left;
    text-indent: 45px;
    line-height: 2px;
    color: rgb(255, 255, 255);
    margin-top: 1em;
}

h4 {
    color: white;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    text-decoration: underline;
    margin-top: .2em;
    margin-bottom: .25em;
}

table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 5px;
    margin-bottom: 15px;
    margin-top: 15px;
    max-width: 750px;
    margin: auto;
    text-align: center;
}

th {
    text-decoration: bold;
    color: rgb(255, 255, 255);
}

tr:nth-child(even) {
    background-color: rgb(40, 40, 40);
}

.rules {
    margin-left: 17%;
    margin-right: 17%;
    margin-top: 70px;
}

p {
    text-indent: 45px;
    text-align: inherit;
    font-size: 18px;
    margin: 3px 0px;
}


/*Button Stuff*/
.BestiaryMenu {
    width: 80%;
}

.BestiaryMenu a {
    background-color: rgb(45, 45, 45);
    color: rgb(255, 255, 255);
    display: block;
    padding: 10px;
    margin: 12px;
    text-decoration: none;
    font-size: 30px;
}

.BestiaryMenu a:hover {
    background-color: rgb(60, 60, 60);
}

.DiscordButton {
    float: right;
    position: absolute;
    font-size: 24px;
    top: 5%;
    left: 95%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #1985ee;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 16px;
    overflow: hidden;
}

.DiscordButton:hover {
    background-color: #199fff;
}

.Monster {
    cursor: pointer;
    font-size: 28px;
    font-family: inherit;
    font-weight: bold;
    background-color: rgb(50, 50, 50);
    color: white;
    border: none;
    outline: none;
    width: 100%;
    text-align: inherit;
    padding: 10px;
}

.Monster:hover {
    background-color: rgb(60, 60, 60);
}
    

.statistics {
    background-color: rgb(30, 30, 30);
    line-height: 16px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
    font-size: 15px;
    padding: 0 10px;
    text-align: left;
}

.MonsterList {
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    background-color: rgb(45, 45, 45);
    color: white;
    border: none;
    outline: none;
    width: 100%;
    text-align: center;
    padding: 10px;
}

.MonsterList:hover {
    background-color: rgb(60, 60, 60);
}

.MonsterList-content {
    background-color: rgb(30, 30, 30);
    line-height: 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
    font-size: 18px;
}


/*Grid Stuff*/
.farleftcolumn {
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-right: 1.65%;
    margin-bottom: 25px;
    background-color: rgb(45, 45, 45);
    text-align: center;
}

.centerleftcolumn {
    float: left;
    width: 20%;
    margin-left: 1.65%;
    margin-bottom: 25px;
    background-color: rgb(45, 45, 45);
    text-align: center;
}

.centerrightcolumn {
    float: right;
    width: 20%;
    margin-right: 1.65%;
    margin-bottom: 25px;
    background-color: rgb(45, 45, 45);
    text-align: center;
}

.farrightcolumn {
    float: right;
    width: 20%;
    margin-left: 1.65%;
    margin-right: 5%;
    margin-bottom: 25px;
    background-color: rgb(45, 45, 45);
    text-align: center;
}

.leftcolumn {
    float: left;
    width: 32%;
    margin-left: 17%;
    margin-bottom: 25px;
    text-align: right;
    font-family: inherit;
}

.rightcolumn {
    float: right;
    width: 32%;
    margin-right: 17%;
    margin-bottom: 25px;
    text-align: left;
    font-family: inherit;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

/*sitenav stuff*/
.topnav {
    position: fixed;
    top: 0;
    width: 100.5%;
    margin-left: -14px;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
    height: 60px;
}

.topnav a, .topnav span {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}

.topnav a:hover, .topnav span:hover {
    background-color: white;
    color: black;
}

.topnavleft {
    position: absolute;
    top: 60%;
    left: 3.5%;
    transform: translate(-50%, -50%);
}

.topnavcenter a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 600px) {
    .topnav a, .topnav {
        float: none;
        display: block;
    }

    .topnavcenter a {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
    }
}