a {
    color: inherit;
    text-decoration: inherit;
}

body {
    background-color: rgb(15, 15, 15);
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
}

h2 {
    margin-top: -10px;
    margin-bottom: 10px;
}

h3 {
    margin-top: -20px;
    margin-bottom: 12.5px;
    text-indent: 25px;
}

.h3u {
    font-size: 1em;
    margin-top: -20px;
    margin-bottom: 20px;
    text-indent: 40px;
    text-decoration: underline;
}

ul {
    font-size: 16px;
    line-height: 25px;
    margin-top: -20px;
    margin-bottom: 20px;
}


/*Button Stuff*/
.collapsible {
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 20px;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.collapsible:hover {
    background-color: rgb(57.5, 57.5, 57.5);
}

.active {
    background-color: rgb(65, 65, 65);
}

.content {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: -10px;
    margin-bottom: 15px;
    line-height: 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
    width: 46.65%;
    text-align: left;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 65, 65);
}