body {
  background-color: black;
  color: white;
}

figcaption {
  font-size: 24px;
}

.games {
  margin: auto;
  width: 75%;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin-bottom: 0;
}

h2 {
  font-size: 2em;
  margin-bottom: .4em;
}

h3 {
  margin-top: 0;
}

img:hover {
  border: 3px solid white;
  border-radius: 3px;
  margin: -3px;
}

p {
  margin-top: 0;
  margin-bottom: 2em;
}

/*Blog Stuff*/

/*Grid Stuff*/

.row:after {
  content: "";
  display: table;
  clear: both;
  margin: auto;
}

.workcolumn {
  float: left;
  width: 25%;
  margin: 1% 4.15%;
  font-size: 18px;
  text-align: center;
  color: white;
  /*background-color: blue;*/
}