a {
    color: rgb(245, 245, 245);
    text-decoration: inherit;
}

a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 4px white;
}

body {
    background-color: rgb(10, 10, 10);
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 50px;
    margin-top: -50px;
}


/*Button Stuff*/
.collapsible {
    background-color: rgb(35, 35, 35);
    color: rgb(255, 255, 255);
    cursor: pointer;
    padding: 20px;
    width: 50%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
}

.collapsible:hover {
    background-color: rgb(40, 40, 40);
}

.active {
    background-color: rgb(45, 45, 45);
}

.content {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 0px;
    margin-bottom: 5px;
    line-height: 40px;
    max-height: 0;
    overflow: hidden;
    transition: max-height .2s ease-out;
    width: 46.65%;
    text-align: center;
    font-size: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(65, 65, 65);
}

.DiscordButton {
    float: right;
    position: absolute;
    font-size: 24px;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #1985ee;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 16px;
    overflow: hidden;
}

.DiscordButton:hover {
    color: white;
    border-radius: 5px;
    background-color: #199fff;
}