body {
    background-color: rgb(20, 20, 20);
    color: rgb(255, 255, 255);
}

#box {
    height: 100px;
    width: 50%;
    padding: 10px;
    margin: auto;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 80px;
    text-align: center;
}

h1 {
    font-size: 50px;
}

/*Button stuff*/
.DiscordButton {
    float: right;
    position: absolute;
    font-size: 24px;
    top: 5%;
    left: 90%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background-color: #1985ee;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 14px 16px;
    overflow: hidden;
}

.DiscordButton:hover {
    color: white;
    border-radius: 5px;
    background-color: #199fff;
}

.RollButton {
    background-color: rgb(200, 200, 200);
    border-radius: 6px;
    border: none;
    color: black;
    font-family: Helvetica, Arial;
    padding: 10px;
    width: 150px;
}

.RollButton:hover {
    background-color: rgb(250, 250, 250);
    cursor: pointer;
}

/*Grid Stuff*/

.farleft {
    float: left;
    margin-left: 25.2%;
    margin-right: 3%;
    margin-top: 4%;
    text-align: center;
}

.left {
    float: left;
    margin: 4% 3% 0;
    text-align: center;
}

.right {
    float: left;
    margin: 4% 3% 0;
    text-align: center;
}

.farright {
    float: left;
    margin-left: 3%;
    margin-right: 25.2%;
    margin-top: 4%;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}